*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tiro Gurmukhi', serif;
}
body{
    background-image: url(/img/hockey3.jpg);
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(/img/hockey2.jpg);
    background-size: cover;
    background-position: bottom;
}
header h3{
    padding-right: 200px;
}
ul{
    text-align: center;
}
li{
    display: inline-block;
    margin: 2rem;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: rgba(7, 7, 7, 0.87);
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
}
a:hover{
    background-color: gold;
}
section div{
    text-align: center;
    color: rgba(7, 7, 7, 0.87);
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
    margin: 50px;
    padding: 50px;
}