*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Tiro Gurmukhi', serif;
    background-image: url(/img/hockey3.jpg);
    background-size: cover;
    background-position: 15% 15% 15%;
}
header{
    margin: 5rem;
    padding: 1rem;
    background-image: url(/img/design1_image2.jpg);
}
h1{
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 70px;
}
header div h3{
    color: rgb(255, 198, 9);
    font-size: 35px;
    padding-left: 50px;
    text-align: center;
    background-color: rgb(110, 96, 79);
}
img{
    position: relative;
    top: 350px;
    left: 50px;
}
ul{
    position: absolute;
    right: 5px;
    top: 0px;
    list-style:none;
    padding: 1rem;
    margin: 1rem;
}
li{
    display: inline-block;
    margin: 1rem;
}
a{
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    color: rgba(7, 7, 7, 0.87);
    border: 5px solid yellow;
    font-style: italic;
    font-weight: 800;
}
a:hover{
    background-color: gold;
}
.nav{
    border-color: blue;
}
p{
    font-size: 20px;
}
.text{
    width: 1000px;
    text-align: center;
    margin-left: 400px;
}
.text_info_contact{
    font-size: 30px;
}