*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tiro Gurmukhi', serif;
}
body{
    background-image: url(../img/hockey3.jpg);
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../img/hockey2.jpg);
    background-size: cover;
    background-position: bottom;
}
header h1{
    background-color: rgb(232, 235, 106);
    font-size: 60px;
    margin-top: 30px;
}
header h3{
    padding-right: 200px;
    margin-right: 60px;
    font-size: 30px;
}
.navBar{
    text-align: center;
    background-color: rgb(232, 235, 106);
}
.navBar_text{
    display: inline-block;
    margin: 2rem;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: rgba(7, 7, 7, 0.87);
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
}
.navBar_text:hover{
    background-color: rgba(43, 36, 73, 0.849);
    transform: scale(1.2);
    transform: rotate(10deg);
}
.infoMain{
    text-align: center;
    color: rgba(7, 7, 7, 0.87);
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
    margin: 50px;
    padding: 50px;
}
.imagesIndex{
    display: flex;
    justify-content: center;
}
section div picture img{
    width: 350px;
    height: 300px;
}
.imageAbout{
    display: flex;
    justify-content: space-around;
}
.nav{
    color: crimson;
}
.text_info{
    background: rgba(141, 140, 141, .7);
}
.rules{
    text-align: center;
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
    margin: 10px;
    padding: 10px;
}
.rules_text{
    text-align: start;
    margin: 10px;
}
.rules_textP{
    font-size: 20px;
    font-weight: 600;
}
.rules_list{
    text-align: start;
    margin: 30px;
    font-size: 20px;
}
.formText{
    text-align: start;
    margin: 30px;
    padding: 30px;
    font-size: 20px;
}
.formParraf{
    text-decoration: underline;
}
.tableForm{
    width: 80%;
    padding: 4rem;
    margin: 20px;
}
.tableSize{
    font-weight: 600;
    font-style: italic;
}
.table_tittle{
    font-size: 20px;
    font-weight: 800;
}
table, th,td,tr{
    text-align: start;
    padding: 1rem 1.5rem 1rem 1.5rem;
}
.location{
    text-align: center;
}
span{
    font-weight: bolder;
}
.div_game{
    padding: 20px;
    margin: 20px;
}
.div_info{
    display: flex;
    justify-content: space-around;
}
.form{
    margin: 50px;
}
.formHead{
    display: flex;
    justify-content: space-evenly;
}
.formInputs{
    padding-left: 500px;
    background-color: rgb(232, 235, 106);
}
.formAddress{
    padding-left: 50px;
}
.pForm{
    font-size: 20px;
    font-weight: 600;
    margin: 8px;
}
.legendTittle{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
.legendMain{
    font-size: 25px;
    font-weight: bolder;
    margin: 15px;
}
fieldset{
    margin: 20px;
}
.buttonsType{
    text-align: center;
}
.inputType{
    font-size: 15px;
    background-color: rgb(232, 235, 106);
    font-weight: 600;
}
.inputType:hover{
    background-color: rgba(14, 6, 51, 0.849);
    transform: scale(1.2);
    transform: rotate(10deg);
}
.school{
    display: flex;
justify-content: space-around;
}
.schoolTwo{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}
.permission{
    font-style: italic;
    margin: 15px;
    font-weight: 600;
}
.inputFinal{
    display: flex;
    flex-direction: column;
}
.footer{
    background-color: rgb(232, 235, 106);
    text-align: center;
    color: rgba(7, 7, 7, 0.87);
}
